body {
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
}

#options {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    color: #616161;
}

#pageHeader h1 {
    text-align: center;
    padding-top: 40px;
}

#pageHeader h2 {
    text-align: center;
    padding-bottom: 20px;
}

#checkBoxDiv, #setIndexDiv {
    display: inline-block;
    width: 40%;
    height: 300px;
    margin-left: 5%;
    color: #616161;
}