body {
    margin: 0;
    padding: 0;
}

#popup {
    width: 300px;
    height: 100vh;
    background-color: #f9fbe7;
}

h1 {
    font-size: 16px;
    text-align: center;
}

#popupTitle {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

#popupHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #616161;
    text-align: center;
}

#popupHeader p {
    font-size: 14px;
}

.popupBody {
    border-bottom: 1px solid #616161;
    width: 90%;
    margin: 0 auto;
}

#about_1 {
    font-size: 12px;
    margin: 0;
}

#about_2 {
    font-size: 14px;
}

#about_2 strong {
    font-size: 12px;
}

/* display: flex;
    justify-content: center;
    align-items: center; */