body {
    margin: 0;
    padding: 0;
}

#popup {
    width: 320px;
    height: 100vh;
    background-color: #f9fbe7;
}

.popupBody {
    width: 90%;
    margin: 0 auto;
}

#popupTitle {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

#popupHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #616161;
    text-align: center;
}

#popupHeader p {
    font-size: 14px;
}



/* CopyTabs button */
#copyTabs {
    height: 30px;
    width: 95%;
    margin-left: 2.5%;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #f9fbe7;
    cursor: copy;
    opacity: 0.9;
    transition: 0.3s;
    -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#copyTabs:hover {
      opacity: 1;
}

@keyframes beat {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    100% {
      -webkit-transform: scale(0.9,0.9);
              transform: scale(0.9, 0.9);
    }
}

#copyTabs:focus {
    -webkit-animation: beat 0.3s ease-in-out backwards;
            animation: beat 0.3s ease-in-out backwards;
}

  #copyTabs:active {
    -webkit-animation: none;
            animation: none;
}
/* End of CopyTabs button */

/* paragraphs */
p {
    font-size: 14px;
    line-height: 18px;
    padding: 0 8px;
}

.flexImageContainer {
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

#screenshot {
    width: 80%;
    padding: 0 8px;
    object-fit: cover;
    object-position: top;
}

#about_2 strong {
    font-size: 12px;
    padding-bottom: 18px;
}
/* end of paragraphs */